<mat-sidenav-container id="sideNav" [hasBackdrop]="false" class="sidenav-container" style="display: none; direction: rtl;background-color: #f5f5f5;">
    <mat-sidenav #drawer id="drawer" class="sidenav" fixedInViewport style="direction: ltr;">
        <mat-nav-list>
            <button id="btnCerrarMenu" type="button" (click)="drawer.close()" (click)="desactivarSidenav()">
            <mat-icon>close</mat-icon>
          </button>
            <a href="/home"><i align="center"class="fas fa-sack-dollar fa-9x" style="color: #E5E8E8;"></i></a>

            <a mat-list-item href="/listarOrdenes">Consultar ordenes de compra</a>
            <a mat-list-item href="/crearOrden">Crear orden de compra</a>
            <a mat-list-item href="/crearOrdenMasiva">Cargar ordenes de manera automatica</a>
        </mat-nav-list>
        <mat-list style="margin-top: 80px;">
            <button id="btnSalirMenu" mat-list-item type="button" (click)="cerrarSesion()">Salir</button>
            <!--    <a style="display: block; bottom: 0%; position: fixed;" href="/home"><img src="./assets/icons/logo_milenio.svg" id="sdbLogoMilenio"></a> -->

        </mat-list>
        <a style="display: block; bottom: 0%;" href="/menu"><i align="right" class="fas fa-hand-holding-usd fa-9x" style="color: #E5E8E8;"></i></a>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="light-dark">
            <button id="menuSdb" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.open()" (click)="activarSidenav()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span></span>
            <span class="spacer"></span>
            <a id="aVolver" (click)="validarVentana()">
                <mat-icon>west</mat-icon>
            </a>
        </mat-toolbar>
        <ng-content></ng-content>
        <!-- Add Content Here -->
    </mat-sidenav-content>
</mat-sidenav-container>