<i align="right" id="footer" class="rounded float-left fas fa-hand-holding-usd fa-9x" alt="Responsive image" height="240" style="margin-top: 5px;color: #E5E8E8;"></i>

<!-- <img src="./assets/icons/cologo_milenio.svg" id="footer" class="rounded float-left" alt="Responsive image" height="240" style="margin-top: 5px;"> -->
<div class="row" id="footerMovil" style="display: none;">
    <div style="float: left;">
        <!--  <img align="right" src="./assets/icons/logo_milenio.svg" class="col-4 rounded" height="240" style="margin-top: 40px;"> -->
        <i align="right" class="fas fa-hand-holding-usd fa-9x" style="color: #E5E8E8;"></i>
    </div>
    <!-- <img src="./assets/icons/cologo_milenio.svg" class="col-4 rounded" height="240" style="margin-top: 5px;float: left; padding: 0%;margin: 0%;text-align: left;">
    <img src="./assets/icons/logo_milenio.svg" class="col-4 rounded" height="240" style="margin-top: 5px;"> -->
</div>