<div id="logout">
    <div id="dvLogout" class="form-group mb-2 float-right textolo">
        <label id="lblBienvenido">Bienvenido al portal de ordenes de compra</label>
        <!--   <button title="Cerrar Sesión" class="btn btn-light ml-2" id='but1' type="button" (click)="cerrarSesion()">X</button> -->
    </div>
    <div>
        <button title="Home" class="btn btn-light ml-2" id='btnHome' style="display: block;" type="button" (click)="irAMenu()">
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <div>

        <label id="lblMenu" class="text-center textose"> {{app_name}}</label>
    </div>
</div>