<div class="col-sm-12">
    <app-logout></app-logout>
</div>
<br>
<div class="container col-lg-12 mt-5" style="text-align: center; margin-top: auto; margin-bottom: -40px;">
    <div class="row col-lg-8" style="margin-left: none !important; margin-right: auto;">
        <div class="col-lg-6">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <i class="fas fa-file-invoice fa-9x" style="color: #E5E8E8;"></i>
                </div>
            </div>
            <a class="boton_menu nav-link m-2" routerLink="/consulta" (click)="selecionOpcion('Consulta')">
                <span data-feather="file-text"></span> CONSULTAS
            </a>
        </div>
        <div class="col-lg-6">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <i class="fas fa-laptop fa-9x" style="color: #E5E8E8;"></i>
                </div>
            </div>
            <a class="boton_menu nav-link m-2" routerLink="/solicitud" (click)="selecionOpcion('Solicitud')">
                <span data-feather="file-text"></span> SOLICITUDES
            </a>
        </div>
    </div>
</div>